POSTGRES_DB=webproject
POSTGRES_USER=webproject
POSTGRES_PASSWORD=change-this-password
DB_HOST_PORT=5432

DATABASE_URL="postgresql://webproject:webproject@localhost:5432/webproject?schema=public"
PORT=3000
JWT_ACCESS_TOKEN_EXPIRES_IN="15m"
JWT_REFRESH_TOKEN_EXPIRES_IN_MINUTES="10080"

SEED_ADMIN_PASSWORD = "Password"
JWT_SECRET = "SecretIT"

NODE_ENV= "development"

